body {background-color: #577E8F; color: Gainsboro;}
p {font-family: "Times New Roman", Times, serif; font-size: 120%; word-wrap: break-word; line-height: 140%}
h1 {font-family: roman; font-size: 5vw; text-align: center; line-height: 5%;}
h2 {font-family: roman; font-size: 160%; padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; margin: 0px;}
h3 {color: black; font-family: roman; font-size: 140%;}
h4 {font-family: helvetica; font-size: 120%;}
ul {font-family: "Times New Roman", Times, serif; font-size: 120%;}
address {font-family: "Times New Roman", Times, serif; font-style: normal; font-size: 120%;}
table {font-family: helvetica;}
a:visited{font-size: 100%; color: #D2936E;}
a:link{font-size: 100%; color: #D2936E;}
img {object-fit:cover; border: 0; padding: 0; margin: 1%;}
div{overflow: auto}
div.researchbox{background-color: gainsboro; padding: 1%;}
p.researchpar{color:black; height:80%;}
p.datepar{color: #577E8F;}
img.researchimg{float:left;max-width:20%;max-height:100%; padding-right: 10px;}
img.blogimg{float:center;max-width:20%;max-height:100%; padding-right: 10px;}
* {box-sizing: border-box;}
.column {float: left; padding: 20px;}
.row1 {margin-top: -20px;}
.row2 {margin-top: -40px}
.columntest {float: left; padding: 0px; display:block;}
.middletest {width: 50%}
.left {width: 25%;}
.middle {width: 100%;
                height: 750px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;}
.right {width: 21%; position: relative; left: 4%;}
.row:after {content: ""; display: table; clear: both; }
.column1 {float: left;}
.left1 {width: 33%;}
.middle1 {width: 34%;}
.right1 {width: 33%;}
.leftplanet {width: 33%;}
.middleplanet {width: 33%;}
.rightplanet {width: 33%;}

.leftestheader {width: 20%; position: relative;}
.lefterheader {width: 18%; position: relative;}
.middleheader {width: 23%; position: relative;}
.righterheader {width: 20%; position: relative;}
.rightestheader {width: 19%; position: relative;}

.leftmargin {width: 25%}
.leftestheader1 {width: 10%; position: relative;}
.lefterheader1 {width: 9%; position: relative;}
.middleheader1 {width: 11%; position: relative;}
.righterheader1 {width: 10%; position: relative;}
.rightestheader1 {width: 10%; position: relative;}

.leftblog {width: 20%;}
.middleblog {width: 60%;
.rightblog {width: 20%;}

.leftpost {width: 40%;}
.middlepost {width: 50%;
.rightpost {width: 10%;}

@media screen and (max-width: 600px) {.column {width: 100%;}}
